.App {
  text-align: center;
}

.card, .navbar, .search {
  background-color: #f4f1ec;
}

.navbar, .search {
  z-index: 1;
}

.search {
  top: calc(73.5px);
}

.main__container__small {
  padding-top: calc(73.5px);;
}

.main__container {
  padding-top: calc(126.5px);
}

a, .nav-link, .nav-link:hover {
  text-decoration: none;
  color: black;
}

// animations
.slideDown {
  max-height: 0;
  opacity: 0;
  transition: all .2s ease-out;
}

.slideDown-animation {
  .slideDown {
    max-height: 300px;
    opacity: 1;
    transition: all .2s ease-in;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}